<!DOCTYPE html>
{% extends "App_Pkob/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
{% block content %}
  <title>PKOB</title>
<style>
    .circle{
        position: relative;
        background-color: #63dfe4;
        height: 300px;
        width: 400px;
        bottom:10px;
        margin:auto;
            }
</style>

    <div class="circle">
<p style = "font-size: 35px ;position: absolute;font-family: 'Yu Gothic Light' ;  "> The Pusat Kawalan Operasi Bencana website is designed to provide services that allow fast registration,self management and efficient data management .</p>
    </div >

{% endblock content %}
</body>
</html>
